# Virtual environment
.venv/

# Python
__pycache__/

# Jupyter Notebook

# Test
testing_code.ipynb
testing_code.py

# Log files
*.log
logs/

# Dataset
data/

# Temporary files
temp/

# Model directory
/model/

.conda