# Virtual environment
.venv/
.conda

# Text editors
.vscode/


# Python
__pycache__/

# Storage directories
model/
logs/
out/
data/
temp/
config/

system.log

# Test python and jupyter notebooks to test some code
jupyter_notebooks/test.ipynb
testin.py
